<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inveno.xiandu">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".applocation.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginOtherPhoneActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.user.login.ValiCodeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.main.my.ReadFootprintActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SendLuckymoneyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.UserinfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.MyCoinActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.CoinTopUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.splash.AgreementActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SearchActivityMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SerchResultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.read.ReadActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".view.main.store.RankingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.ChoiseGenderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.store.ClassifyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.BookDetailActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.main.welfare.SignInActivity" />
        <activity android:name=".view.main.my.InvitationFriendActivity" />
        <activity android:name=".view.browser.BrowserActivity" />
        <activity android:name=".view.main.my.FaceToFacaInvitaActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".view.main.my.InputInviteCodeActivity" />

        <service android:name=".apkupdata.UpdateService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updatafileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>