<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inveno.xiandu">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--相关权限声明 : SDK不强制校验下列权限（即:无下面权限sdk也可正常工作），但建议开发者申请下面权限，尤其是READ_PHONE_STATE权限-->
    <!--READ_PHONE_STATE权限用于允许SDK获取用户标识,针对单媒体的用户，允许获取权限的，投放定向广告；
    不允许获取权限的用户，投放通投广告，媒体可以选择是否把用户标识数据提供给多牛，
    并承担相应广告填充和eCPM单价下降损失的结果。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--下面是SDK需要添加的权限，请务必添加-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".applocation.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginOtherPhoneActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.ValiCodeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.ReadFootprintActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.ReadPreferencesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SendLuckymoneyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.UserinfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.MyCoinActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.CoinTopUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.splash.AgreementActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SerchActivityMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SerchResultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.read.ReadActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".view.main.store.RankingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.splash.ChoiseGenderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.store.ClassifyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.BookDetailActivity"
            android:theme="@style/AppTheme" />
    </application>
</manifest>