<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inveno.xiandu">

    <!-- Required -->
    <permission
        android:name="com.inveno.xiandu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.inveno.xiandu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".applocation.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.login.LoginOtherPhoneActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.user.login.ValiCodeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.main.my.ReadFootprintActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SendLuckymoneyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.UserinfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.MyCoinActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.welfare.CoinTopUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.splash.AgreementActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SearchActivityMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.search.SerchResultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.read.ReadActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".view.main.store.RankingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.my.ChoiseGenderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.store.ClassifyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.BookDetailActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.main.welfare.SignInActivity" />
        <activity android:name=".view.main.my.InvitationFriendActivity" />
        <activity android:name=".view.browser.BrowserActivity" />
        <activity android:name=".view.main.my.FaceToFacaInvitaActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".view.main.my.InputInviteCodeActivity" />
        <activity android:name=".view.main.welfare.TopUpRecordActivity" />

        <service android:name=".apkupdata.UpdateService" />

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
        </receiver>

<!--        <receiver-->
<!--            android:name=".jpush.BoardcastReceiver"-->
<!--            android:enabled="true">-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash;Required 用户注册SDK的intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.REGISTRATION" />-->
<!--                &lt;!&ndash;Required 用户接收SDK消息的intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
<!--                &lt;!&ndash;Required 用户接收SDK通知栏信息的intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />-->
<!--                &lt;!&ndash;Required 用户打开自定义通知栏的intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />-->
<!--                &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.CONNECTION" />-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />&lt;!&ndash;开机广播&ndash;&gt;-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />&lt;!&ndash;网络状态改变广播&ndash;&gt;-->
<!--                <category android:name="com.woman.RCTest" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
        </service>
        <!-- Required SDK 核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK 核心功能-->
        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 设置成 true。 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
        </activity>
        <!-- SDK 核心功能-->
        <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 设置成 true。 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
        </activity>

        <!-- since 3.6.0 -->
        <activity
            android:name="cn.jpush.android.service.DActivity"
            android:enabled="true"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- 3.5.0新增，用于定时展示功能 -->
        <receiver
            android:name="cn.jpush.android.service.SchedulerReceiver"
            android:exported="false" />

        <!--Required SDK核心功能 since 3.3.0-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="com.inveno.xiandu" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updatafileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>
</manifest>